/*-----------HOME*--------------------------*/

home{
    min-height: 320px;
    max-width: 800px;
}
#nome-topo{
    margin-top: 0px;
    top:-20px;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 72px;
    text-align: center;
    color: #B4AEFF;
    background-color: #302D57;
    width: 100%;
    
}

#menu-frase{
    margin-top:-94px;
    
}

.icone-imagem{
    width:max-content;
    height: 224.67px;
    background: #D9D9D9;
    border-radius: 38px;
    
}

.font-config{  
    font-family: 'Inter', sans-serif;
    font-family: 'Press Start 2P', cursive;
    
    font-style: normal;
    font-size: 76px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.main-menu{
   text-align:left;
   margin-left:250px;
   margin-top:150px;
   outline: 0;
    width:max-content;
}

.options:hover{
    color:#CBDD00;
    transform: scale(1.1);
}

.a{
    color:#D0CCFf;
    text-decoration: none;
}

.recentes-config{
    font-family: 'VT323', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #968EFF;
    margin-left:150px;
    margin-top:150px;
}
  
.paragrafos{
    margin-left: 10px;
    align-self: auto;
}

.recentes{
    display: flex;
    flex-direction: row;
    padding:34px;
    font-family: 'VT323', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    position:sticky;
    text-align:left;
    background: #302D57;
    border-radius: 52px;
    width: 939px;
    margin-top:120px;
    
}
.recentes:hover{
    transform: scale(1.05); 
}

.blur{

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
    
}

#teste{
    width: auto;
    height: auto;
}

h3{
    font-style: normal;
    font-size: 64px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
@media (max-width: 1356px)
{
   .recentes{
    display: flex;
    flex-direction: row;
    padding:34px;
    font-family: 'VT323', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    position:sticky;
    text-align:left;
    background: #302D57;
    border-radius: 52px;
    width: 60%;
    margin-top:120px;
   } 
}
@media(max-width: 922px)
{
    .body{
        width: 100%;
    }
    .recentes{
        display: flex;
        flex-direction: column;
        padding:34px;
        font-family: 'VT323', monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        position:sticky;
        text-align:left;
        background: #302D57;
        border-radius: 52px;
        width: 90%;
        margin-top:120px;  
    }
    .recentes-config{
        font-family: 'VT323', monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align:center;
        color: #968EFF;
        margin-left:25%;
        margin-right:25%;
        margin-top:150px;
    }
    .main-menu{
        text-align:center;
        margin-left:25%;
        margin-right:25%;
        margin-top:150px;
        outline: 0;
         width:max-content;
     }
    .main-menu-frase{
        display: flex;
    }
}
@media(max-width: 726px)
{
    html{
        font-size: 20px;
    }
    .main-menu
    {
        margin:auto;
        
    }
    .main-menu-frase{
        margin: auto;
    }
    .options{
        margin-left :auto;
        background-color: #302D57;
        height: fit-content;
        margin-bottom: 30px;
        border-radius: 20px;
        border: solid yellow;
        
        
    }
    .recentes{
        border: solid yellow;
        margin-top: 50px;
        margin-left: -5%;
        margin-right: auto;
    }
    .recentes-config{
        margin: 15%;
        
    }
}



/*--------OPEN PROJECT--------------------------*/



.projetos{
    
    display: flex;
    flex-direction: column;
    background: #302D57;
    max-width: 922px; 
    font-family: 'VT323', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    margin-top:0%;
    margin-bottom: 0%;
    flex-wrap: wrap;
    
}

.info-projetos{
    margin-left: 43px;
    display:flex ;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: default;
    flex-wrap: wrap; 
}

.sobre{
    display: flex;
    flex-direction: row;
    margin-left: 43px;
    text-align: start;
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
   
    
}

.obs{
    display: flex;
    flex-direction: row;
    margin-left: 43px;
    text-align: start;
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.links{
    display: flex;
    flex-direction: row;
    margin-left: 43px;
    text-align: start;
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

#icone-link{
    width: 49px; 
    height: 49px; 
    margin-top: 15px; 
    margin-right: 10px;
    margin-bottom: 38px;
}

#imagem-projeto{
    width: 353.77px;
    height: 316.08px;
    background: #D9D9D9;
    border-radius: 26px; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 176.5px);
    grid-template-rows: repeat(2, 158px);
    border-radius: 26px; 
    grid-gap: 5px;
    width: max-content;
}

.gallery__img {
    margin-left: -40px;
    margin-top: -24px;
    width: 176.5px; 
    height: 158px;
    
}

.aumenta{
    display: flex;
    flex-direction: row;
}

.aumenta:hover{
    transform: scale(1.2); 
}

#imagem:target{
    position: fixed;
    width: 50%;
    top: 15px;
    left:25%
}

#imagem #imagem2 #imagem3 #imagem4 {
    transition: transform .2s ease-out;
    
}

  #imagem:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

  #imagem2:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

  #imagem3:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

  #imagem4:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 217px;
    height: 67px;
    float:right;
    top: -9px;
    background: #302D57;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: none; /* Define a sombra inicial como nenhuma */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */
} 

.menu:hover {
    box-shadow:inset 8px -5px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao passar o mouse */
}




.sair{
    font-family: 'VT323', monospace;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    color: #8B84EA;
    
}
.project-title
{
    font-family: 'VT323', monospace;font-style: normal;font-weight: 500;font-size: 64px;line-height: 64px;
                        color: #8B84EA; margin-top: 18px; margin-bottom: 10px;margin-left: 43px;
}
.link_text{
    color:#CBDD00;
}
.sair:hover{
    transform: scale(1.1); 
}
@media (max-width: 1363px){
    .menu{
        height: max-content;
        width: max-content;
        flex-direction: column;
        padding-left: 2%;
    }
    .sair{
        margin-left: 10px;
    }
}
@media (max-width:1093px){
    .projetos{
        margin-left:15%;
        margin-right:15% ;
    }
}
@media (max-width:1011px){
    .sobre{
        flex-direction: column;
        margin: auto;
    }
    .obs{
        
            flex-direction: column;
            margin: auto;
        
    }
    .links{
        margin:auto;
    }
    .gallery
    {
        margin: auto;
    }
    .info-projetos{
        margin: auto;
    }
    .project-title{
        margin:auto;
    }
}
@media (max-width:811px)
{
    .sobre
    {
        margin-left: 0px;
    }
    .obs{
        margin-left: 0px;
    }
    .links{
       margin: auto;
        
    }
    .menu{
        border:solid #141234;
    }
}
@media(max-width:752px)
{
    .projetos{
        margin-left:5% ;
        margin-right:5% ;
        flex-wrap: wrap;
    }
    .link_text{
        font-size: 1em;
    }
}
@media(max-width:583px)
{
    .projetos{
       margin-left:0%;
       margin-right: 0%;
    }
    .menu{
        padding-left:0%;
        padding: auto;
        
    }
}
@media(max-width:486px)
{
    .menu{
        position: absolute;
        flex-direction: row;
        margin-left:25%;
        margin-right: 25%;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
    }
    .projetos{
        margin-top: 64px;
        border-top: solid black;
    }
}

/*---------------PROJETOS---------------------------*/



.projeto{
    display: flex;
    flex-direction: column;
    background: #302D57;
    width: 547px;
    height: 599px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 54px;
    flex-wrap: wrap;
    margin-top: 5%;
    
}

.projeto:hover{
    transform: scale(1.05);  
}

.sobre-projeto{
    display: flex;
    flex-direction: column;
    float: right;
    flex-wrap: wrap;
    margin-left: 27px;
    flex-wrap: wrap;
}

.sobre_projetoefect{
    display:flex;
    flex-wrap: wrap;
}

.sobre_projetoefect:hover{
    color: #CBDD00;
}

.all_projects{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 5%;
    flex-wrap: wrap;
    
}

.project_title:hover{
    transform: scale(1.1);
}

#img-projeto{
    width: max-content;
    height: max-content;
    box-shadow: none; /* Define a sombra inicial como nenhuma */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */ 
    width: 237px; height: 207px; border-radius: 26px; margin-left: 21px;
}

#img-projeto:hover{
    box-shadow:inset 8px -5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    border-radius: 26px ;
}
.div1{
    display: flex; flex-direction: row;
}
@media(max-width: 1139px){
    .menu{
        
        flex-direction: row;
        content: none;
        margin-left:auto;
        margin-right: auto;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
        height: max-content;
        width: max-content;
       
    
    }
    .all_projects{
        margin-top: 0%;
    }
}
@media(max-width:539px){
    .all_projects{
        flex-direction: column;
        width: max-content;
    }
    
}

/*---------------------SKILLS------------------*/


.close{
    font-family: 'VT323', monospace;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #4D5309;
    background: #403D6D;
    width:617px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    border-radius: 66px;
    box-shadow: inset -9px -34px 4px rgba(0, 0, 0, 0.25);
    border-radius: 66px;
    border: 8px dashed ;
    margin-top:135px;
    
}
.close:hover{
    background: #524F80;
    color: #CBDD00;
    box-shadow: 
    0 0 10px #ffffff,
    0 0 20px #CBDD00,
    0 0 30px #EBFF00;
    
}

.open{
    font-family: 'VT323', monospace;
    font-weight: 500;
    font-size: 96px;
    line-height: 97px;
    text-align: center;
    color: #968EFF;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    background: #524F80;
    border: 8px dashed #CBDD00;
    border-radius: 66px;
    width: 617px;  
    display: none;
}

.tecnologias{
    text-align: left;
    margin-left: 78px;
    font-family: 'VT323', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.proj{
    color: aliceblue;
}
.proj:hover{
    color: #CBDD00;
}

.aberto{
    margin-top:auto;
    cursor:pointer;
}
.aberto:hover{
    color:#CBDD00;
}
 

/*---------------PROFILE---------------*/

.menuProfile{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 217px;
    height: 67px;
    float:right;
    top: -9px;
    background: #523748;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: none; /* Define a sombra inicial como nenhuma */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */
}
.menuProfile:hover {
    box-shadow:inset 8px -5px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao passar o mouse */
}  
.profileInfo{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-top: -132px;
    padding-bottom: 50px;
    width: 677px;
    height: 693px;
    background: linear-gradient(0deg, rgba(37, 28, 45, 0.8), rgba(37, 28, 45, 0.8)), rgba(202, 88, 67, 0.5);
    box-shadow: inset 0px -11px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 76px;
    
}

.profilePicture{
  position: relative; 
}

.profileText{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
    color: #FFFFFF;
}
.contatos{
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    text-align: center;
    max-height: 80px;
    
}
.profile{
    margin:auto;

    
    text-align: center;
    width: max-content;
    height: max-content;
}
@media (max-width:689px){
    .profileInfo{
        display: flex;
        flex-direction: column;
    }
    .profile{
        height: 25%;
        margin-top: 100px;
    }
    .menuProfile{
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
    }
    
}

