/*-----------HOME*--------------------------*/

home{
    min-height: 320px;
    max-width: 800px;
}
#nome-topo{
    margin-top: 0px;
    top:-20px;
    position: relative;
    font-family: 'Game Over';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 72px;
    text-align: center;
    color: #B4AEFF;
    background-color: #302D57;
    padding-left: -0px;
    padding-right: -0px;
    
}

#menu-frase{
    margin-top:-94px;
    
}

.icone-imagem{
    width:max-content;
    height: 224.67px;
    background: #D9D9D9;
    border-radius: 38px;
    
}

.font-config{  
    font-family: 'ThaleahFat';
    font-style: normal;
    font-size: 96px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    

}

.main-menu{
   text-align:left;
   margin-left:250px;
   margin-top:150px;
   outline: 0;
    width:max-content;
}

.options:hover{
    color:#CBDD00;
    transform: scale(1.1);
}

.a{
    color:#D0CCFf;
    text-decoration: none;
}

.recentes-config{
    font-family:'ThaleahFat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #968EFF;
    margin-left:150px;
    margin-top:150px;
}


    
.paragrafos{
    margin-left: 10px;
    align-self: auto;
}

.recentes{
    display: flex;
    flex-direction: row;
    padding:34px;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    position:sticky;
    text-align:left;
    background: #302D57;
    border-radius: 52px;
    width: 939px;
    margin-top:120px;
    
}
.recentes:hover{
    transform: scale(1.05); 
}

.blur{

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
    
}

#teste{
    width: auto;
    height: auto;
}

h3{
    font-style: normal;
    font-size: 64px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}



/*--------OPEN PROJECT--------------------------*/



.projetos{
    
    display: flex;
    flex-direction: column;
    background: #302D57;
    max-width: 922px; 
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    margin-top:0%;
    margin-bottom: 0%;
    flex-wrap: wrap;
    
}

.info-projetos{
    margin-left: 43px;
    display:flex ;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: default;
    flex-wrap: wrap; 
}

.sobre{
    display: flex;
    flex-direction: row;
    margin-left: 43px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
   
    
}

.obs{
    display: flex;
    flex-direction: row;
    margin-left: 43px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.links{
    display: flex;
    flex-direction: row;
    margin-left: 43px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

#icone-link{
    width: 49px; 
    height: 49px; 
    margin-top: 15px; 
    margin-right: 10px;
    margin-bottom: 38px;
}

#imagem-projeto{
    width: 353.77px;
    height: 316.08px;
    background: #D9D9D9;
    border-radius: 26px; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 176.5px);
    grid-template-rows: repeat(2, 158px);
    border-radius: 26px; 
    grid-gap: 5px;
    width: max-content;
}

.gallery__img {
    margin-left: -40px;
    margin-top: -24px;
    width: 176.5px; 
    height: 158px;
    
}

.aumenta{
    display: flex;
    flex-direction: row;
}

.aumenta:hover{
    transform: scale(1.2); 
}

#imagem:target{
    position: fixed;
    width: 50%;
    top: 15px;
    left:25%
}

#imagem #imagem2 #imagem3 #imagem4 {
    transition: transform .2s ease-out;
    
}

  #imagem:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

  #imagem2:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

  #imagem3:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

  #imagem4:hover{
    transform: scale(1.2);
    border-radius: 26px ;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 217px;
    height: 67px;
    float:right;
    top: -9px;
    background: #302D57;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: none; /* Define a sombra inicial como nenhuma */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */
} 

.menu:hover {
    box-shadow:inset 8px -5px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao passar o mouse */
}




.sair{
    margin-left: 61%;
    position: absolute;
    font-family: 'ThaleahFat';
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    color: #8B84EA;
    text-align: right;
}
.sair:hover{
    transform: scale(1.1); 
}



/*---------------PROJETOS---------------------------*/



.projeto{
    display: flex;
    flex-direction: column;
    background: #302D57;
    width: 547px;
    height: 599px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 54px;
    flex-wrap: wrap;
    margin-top: 5%;
    
}

.projeto:hover{
    transform: scale(1.05);  
}

.sobre-projeto{
    display: flex;
    flex-direction: column;
    float: right;
    flex-wrap: wrap;
    margin-left: 27px;
    flex-wrap: wrap;
}

.sobre_projetoefect{
    display:flex;
    flex-wrap: wrap;
}

.sobre_projetoefect:hover{
    color: #CBDD00;
}

.all_projects{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 5%;
    flex-wrap: wrap;
}

.project_title:hover{
    transform: scale(1.1);
}

#img-projeto{
    width: max-content;
    height: max-content;
    box-shadow: none; /* Define a sombra inicial como nenhuma */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */ 
    width: 237px; height: 207px; border-radius: 26px; margin-left: 21px;
}

#img-projeto:hover{
    box-shadow:inset 8px -5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    border-radius: 26px ;
}

/*---------------------SKILLS------------------*/


.close{
    font-family:'ThaleahFat';
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #4D5309;
    background: #403D6D;
    width:617px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    border-radius: 66px;
    box-shadow: inset -9px -34px 4px rgba(0, 0, 0, 0.25);
    border-radius: 66px;
    border: 8px dashed ;
    margin-top:135px;
    
}
.close:hover{
    background: #524F80;
    color: #CBDD00;
    box-shadow: 
    0 0 10px #ffffff,
    0 0 20px #CBDD00,
    0 0 30px #EBFF00;
    
}

.open{
    font-family: 'Jockey One';
    font-weight: 500;
    font-size: 96px;
    line-height: 97px;
    text-align: center;
    color: #968EFF;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    background: #524F80;
    border: 8px dashed #CBDD00;
    border-radius: 66px;
    width: 617px;  
    display: none;
}

.tecnologias{
    text-align: left;
    margin-left: 78px;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.proj{
    color: aliceblue;
}
.proj:hover{
    color: #CBDD00;
}

.aberto{
    margin-top:auto;
    cursor:pointer;
}
.aberto:hover{
    color:#CBDD00;
}
 

/*---------------PROFILE---------------*/

.menuProfile{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 217px;
    height: 67px;
    float:right;
    top: -9px;
    background: #523748;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: none; /* Define a sombra inicial como nenhuma */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave */
}
.menuProfile:hover {
    box-shadow:inset 8px -5px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao passar o mouse */
}  
.profileInfo{
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-top: -132px;
    padding-bottom: 50px;
    width: 677px;
    height: 693px;
    background: linear-gradient(0deg, rgba(37, 28, 45, 0.8), rgba(37, 28, 45, 0.8)), rgba(202, 88, 67, 0.5);
    box-shadow: inset 0px -11px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 76px;
    
}

.profilePicture{
  position: relative; 
}

.profileText{
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 24px;

    text-align: center;
    color: #FFFFFF;
}
.contatos{
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    text-align: center;
    max-height: 80px;
    
}
.profile{
    margin-left: 25%;
    margin-right: 25%;

    display: flex;
    flex-direction: column;
    text-align: center;
    width: max-content;
    height: max-content;
}

